@import "../../styles/common.scss";

:host {
    display: block;
}

.news-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -$gap-4;
}

rod-news-item {
    padding: $gap-4 0 0 $gap-4;
}
