@import "../../styles/common.scss";

:host {
    display: block;
}

.illustration {
    width: $content-width;
    height: 380px;
    background: no-repeat center;
    background-size: cover;

    @media (max-width: $content-width + 2 * $gap-5) {
        width: auto;
    }
}

.date {
    padding-top: $gap-4;
    color: $text-color-2;
}
