@import "../../styles/common.scss";

@media global {
    @font-face {
        font-family: 'Rubik';
        src: url('/misc/Rubik-Regular.ttf') format('truetype');
    }
}

@media local {

    header {
        h1 {
            font-size: 48px;
            line-height: 1.2;
        }

        h2 {
            font-size: 24px;
            line-height: 1.2;
        }
    }

    main {

        h1 {
            padding-top: $gap-3;
            font-size: 36px;
        }

        h2 {
            padding-top: $gap-3;
            font-size: 24px;
        }

        p {
            padding-top: $gap-3;
            font-size: 16px;
        }
        
        a, a:visited {
            color: $link-color;
            text-decoration: underline;
        }
    }
}

:host {
    font-family: 'Rubik', sans-serif;
    color: $text-color-1;
}
