<link rel="import" href="../rod-page-main/rod-page-main.html" />
<link rel="import" href="../rod-page-about/rod-page-about.html" />
<link rel="import" href="../rod-page-events/rod-page-events.html" />
<link rel="import" href="../rod-page-news/rod-page-news.html" />
<link rel="import" href="../rod-page-support/rod-page-support.html" />
<link rel="import" href="../rod-page-contacts/rod-page-contacts.html" />
<link rel="import" href="../rod-page-topic/rod-page-topic.html" />

<link rel="stylesheet" href="./rod-app.scss" />

<template>
    <e:switch>
        <e:case test={ $currentRoute.topic }>
            <rod-page-topic topic={ $currentRoute.topic } />
        </e:case>
        <e:case test={ $currentRoute.path==='/' }>
            <rod-page-main />
        </e:case>
        <e:case test={ $currentRoute.path==='/about' }>
            <rod-page-about />
        </e:case>
        <e:case test={ $currentRoute.path==='/events' }>
            <rod-page-events />
        </e:case>
        <e:case test={ $currentRoute.path==='/news' }>
            <rod-page-news />
        </e:case>
        <e:case test={ $currentRoute.path==='/support' }>
            <rod-page-support />
        </e:case>
        <e:case test={ $currentRoute.path==='/contacts' }>
            <rod-page-contacts />
        </e:case>
    </e:switch>
</template>
