<link rel="stylesheet" href="./rod-documents.scss" />

<template>
    <h2>Регистрационные документы</h2>
    <ul>
        <li>
            <a href="https://cloud.mail.ru/public/2isj/atSz1DRVw/" target="_blank">Устав ОЭО "Родник" и форма заявления о вступлении</a>
        </li>
    </ul>

    <h2>Наша деятельность</h2>
    <ul>
        <li>
            <a href="https://cloud.mail.ru/public/aeF8/4oY2adJsb/" target="_blank">Письма и ответы</a>
        </li>
        <li>
            <a href="https://cloud.mail.ru/public/4732/4QnMzF4Dp/" target="_blank">Обращение от 12.12.2020</a>
        </li>
    </ul>
    
    <h2>Пресса о нас</h2>
    <ul>
        <li>
            <a href="https://cloud.mail.ru/public/mzKx/NzT9oowzQ/" target="_blank">Публикации в прессе</a>
        </li>
    </ul>
</template>
