@import "../../styles/common.scss";

:host {

    nav li {
        display: inline-block;

        &:not(:first-child) {
            margin-left: $gap-10;
        }

        &.selected {
            a {
                text-decoration: underline;
            }
        }
    }

    a, a:visited {
        color: #424242;
        text-decoration: none;
    }
}
